// 8px
.lh-mt-8px {
  margin-top: 8px;
}
.lh-mr-8px {
  margin-right: 8px;
}
.lh-mb-8px {
  margin-bottom: 8px;
}
.lh-ml-8px {
  margin-left: 8px;
}
.lh-mh-8px {
  margin-left: 8px;
  margin-right: 8px;
}

// 16px
.lh-mt-16px {
  margin-top: 16px;
}
.lh-mr-16px {
  margin-right: 16px;
}
.lh-mb-16px {
  margin-bottom: 16px;
}
.lh-ml-16px {
  margin-left: 16px;
}

// 24px
.lh-mt-24px {
  margin-top: 24px;
}

// 32px
.lh-mt-32px {
  margin-top: 32px;
}

// 40px
.lh-mt-40px {
  margin-top: 40px;
}

// 48px
.lh-mt-48px {
  margin-top: 40px;
}
