@use '../../styles/tokens' as token;

/* Themes defines every color used in the button component */
$button-themes: (
  'corporate': (
    'light': (
      // Primary
      'surface': token.$color-co-light-yellow,
      'onsurface': token.$color-black,
      'focus': token.$color-black,
      // Hover
      'surface-hover': token.$color-accent-clay-light-soft,
      // Active
      'surface-active': token.$color-black,
      'onsurface-active': token.$color-white,
      // Disabled
      'surface-disabled': token.$color-neutral-steel-200,
      'border-disabled': token.$color-neutral-steel-400,
      'onsurface-disabled': token.$color-neutral-steel-800,
      // Secondary
      'secondary-onsurface': token.$color-black,
      'secondary-onsurface-hover': token.$color-neutral-steel-700,
      'secondary-onsurface-disabled': token.$color-neutral-steel-800,
      'secondary-border': token.$color-black,
      'secondary-border-disabled': token.$color-neutral-steel-400,
      // Error
      'error-surface': token.$color-functional-error-light,
      'error-surface-hover': token.$color-accent-ruby-light,
      'error-surface-active': token.$color-black,
      'error-onsurface': token.$color-white,
      // Neutral
      'black': token.$color-black,
      'white': token.$color-white,
      'transparent': token.$color-transparent,
    ),
    'dark': (
      // Primary
      'surface': token.$color-co-light-yellow,
      'onsurface': token.$color-black,
      'focus': token.$color-white,
      // Hover
      'surface-hover': token.$color-accent-clay-dark,
      // Active
      'surface-active': token.$color-white,
      'onsurface-active': token.$color-black,
      // Disabled
      'surface-disabled': token.$color-neutral-steel-900,
      'border-disabled': token.$color-neutral-steel-600,
      'onsurface-disabled': token.$color-neutral-steel-200,
      // Secondary
      'secondary-onsurface': token.$color-white,
      'secondary-onsurface-hover': token.$color-neutral-steel-400,
      'secondary-onsurface-disabled': token.$color-neutral-steel-200,
      'secondary-border': token.$color-white,
      'secondary-border-disabled': token.$color-neutral-steel-600,
      // Error
      'error-surface': token.$color-functional-error-dark,
      'error-surface-hover': token.$color-functional-error-dark-soft,
      'error-surface-active': token.$color-white,
      'error-onsurface': token.$color-black,
      // Neutral
      'black': token.$color-black,
      'white': token.$color-white,
      'transparent': token.$color-transparent,
    ),
  ),
  'hau': (
    'light': (
      // Primary
      'surface': token.$color-ha-light-blue,
      'onsurface': token.$color-white,
      'focus': token.$color-black,
      // Hover
      'surface-hover': token.$color-ha-light-artic-blue,
      // Active
      'surface-active': token.$color-black,
      'onsurface-active': token.$color-white,
      // Disabled
      'surface-disabled': token.$color-neutral-steel-200,
      'border-disabled': token.$color-neutral-steel-400,
      'onsurface-disabled': token.$color-neutral-steel-800,
      // Secondary
      'secondary-onsurface': token.$color-ha-light-artic-blue,
      'secondary-onsurface-hover': token.$color-neutral-steel-700,
      'secondary-onsurface-disabled': token.$color-neutral-steel-800,
      'secondary-border': token.$color-ha-light-artic-blue,
      'secondary-border-disabled': token.$color-neutral-steel-400,
      // Error
      'error-surface': token.$color-functional-error-light,
      'error-surface-hover': token.$color-accent-ruby-light,
      'error-surface-active': token.$color-black,
      'error-onsurface': token.$color-white,
      // Neutral
      'black': token.$color-black,
      'white': token.$color-white,
      'transparent': token.$color-transparent,
    ),
    'dark': (
      // Primary
      'surface': token.$color-ha-light-blue,
      'onsurface': token.$color-white,
      'focus': token.$color-white,
      // Hover
      'surface-hover': token.$color-ha-dark-artic-blue,
      // Active
      'surface-active': token.$color-white,
      'onsurface-active': token.$color-black,
      // Disabled
      'surface-disabled': token.$color-neutral-steel-900,
      'border-disabled': token.$color-neutral-steel-600,
      'onsurface-disabled': token.$color-neutral-steel-200,
      // Secondary
      'secondary-onsurface': token.$color-white,
      'secondary-onsurface-hover': token.$color-neutral-steel-400,
      'secondary-onsurface-disabled': token.$color-neutral-steel-200,
      'secondary-border': token.$color-white,
      'secondary-border-disabled': token.$color-neutral-steel-600,
      // Error
      'error-surface': token.$color-functional-error-dark,
      'error-surface-hover': token.$color-functional-error-dark-soft,
      'error-surface-active': token.$color-white,
      'error-onsurface': token.$color-black,
      // Neutral
      'black': token.$color-black,
      'white': token.$color-white,
      'transparent': token.$color-transparent,
    ),
  ),
);

/*
  Structure:
  Variants: primary, secondary, error,...
  Role:     background, border, text, ...
  State:    default, hover, active, disabled
*/
$button-variants: (
  'primary': (
    'background': (
      'default': 'surface',
      'hover': 'surface-hover',
      'active': 'surface-active',
      'disabled': 'surface-disabled',
    ),
    'border': (
      'default': 'surface',
      'hover': 'surface-hover',
      'active': 'surface-active',
      'disabled': 'border-disabled',
      'focus': 'focus',
    ),
    'text': (
      'default': 'onsurface',
      'hover': 'onsurface',
      'active': 'onsurface-active',
      'disabled': 'onsurface-disabled',
    ),
    'loading': (
      'default': 'black',
    ),
  ),
  'secondary': (
    'background': (
      'default': 'transparent',
      'hover': 'transparent',
      'active': 'transparent',
      'disabled': 'transparent',
    ),
    'border': (
      'default': 'secondary-border',
      'hover': 'secondary-onsurface-hover',
      'active': 'black',
      'disabled': 'secondary-border-disabled',
      'focus': 'focus',
    ),
    'text': (
      'default': 'secondary-onsurface',
      'hover': 'secondary-onsurface-hover',
      'active': 'secondary-onsurface',
      'disabled': 'secondary-onsurface-disabled',
    ),
    'loading': (
      'default': 'black',
    ),
  ),
  'error': (
    'background': (
      'default': 'error-surface',
      'hover': 'error-surface-hover',
      'active': 'error-surface-active',
      'disabled': 'surface-disabled',
    ),
    'border': (
      'default': 'error-surface',
      'hover': 'error-surface-hover',
      'active': 'error-surface-active',
      'disabled': 'border-disabled',
      'focus': 'focus',
    ),
    'text': (
      'default': 'error-onsurface',
      'hover': 'error-onsurface',
      'active': 'error-onsurface',
      'disabled': 'onsurface-disabled',
    ),
    'loading': (
      'default': 'white',
    ),
  ),
);
