@use '../../styles/tokens' as token;

/* Themes defines every color used in the button component */
$button-themes: (
  'corporate': (
    'light': (
      // Primary
      'surface': token.$color-co-light-yellow,
      'accent': token.$color-accent-clay-light-soft,
      'focus': token.$color-black,
      'disabled-surface': token.$color-neutral-steel-200,
      'disabled-border': token.$color-neutral-steel-400,
      'disabled-onsurface': token.$color-neutral-steel-800,
      // Secondary
      'secondary-hover-onsurface': token.$color-neutral-steel-700,
      'secondary-disabled-border': token.$color-neutral-steel-400,
      'secondary-disabled-onsurface': token.$color-neutral-steel-800,
      // Error
      'error-surface': token.$color-functional-error-light,
      'error-accent': token.$color-accent-ruby-light,
      // Neutral
      'black': token.$color-black,
      'white': token.$color-white,
    ),
    'dark': (
      // Primary
      'surface': token.$color-co-light-yellow,
      'accent': token.$color-accent-clay-dark,
      'focus': token.$color-white,
      'disabled-surface': token.$color-neutral-steel-900,
      'disabled-border': token.$color-neutral-steel-600,
      'disabled-onsurface': token.$color-neutral-steel-200,
      // Secondary
      'secondary-hover-onsurface': token.$color-neutral-steel-400,
      'secondary-disabled-border': token.$color-neutral-steel-600,
      'secondary-disabled-onsurface': token.$color-neutral-steel-200,
      // Error
      'error-surface': token.$color-functional-error-dark,
      'error-accent': token.$color-functional-error-dark-soft,
      // Neutral
      'black': token.$color-black,
      'white': token.$color-white,
    ),
  ),
  'hau': (
    'light': (
      // Primary
      'surface': token.$color-co-light-yellow,
      'accent': token.$color-accent-clay-light-soft,
      'focus': token.$color-black,
      'disabled-surface': token.$color-neutral-steel-200,
      'disabled-border': token.$color-neutral-steel-400,
      'disabled-onsurface': token.$color-neutral-steel-800,
      // Secondary
      'secondary-hover-onsurface': token.$color-neutral-steel-700,
      'secondary-disabled-border': token.$color-neutral-steel-400,
      'secondary-disabled-onsurface': token.$color-neutral-steel-800,
      // Error
      'error-surface': token.$color-functional-error-light,
      'error-accent': token.$color-accent-ruby-light,
      // Neutral
      'black': token.$color-black,
      'white': token.$color-white,
    ),
    'dark': (
      // Primary
      'surface': token.$color-co-light-yellow,
      'accent': token.$color-accent-clay-dark,
      'focus': token.$color-white,
      'disabled-surface': token.$color-neutral-steel-900,
      'disabled-border': token.$color-neutral-steel-600,
      'disabled-onsurface': token.$color-neutral-steel-200,
      // Secondary
      'secondary-hover-onsurface': token.$color-neutral-steel-400,
      'secondary-disabled-border': token.$color-neutral-steel-600,
      'secondary-disabled-onsurface': token.$color-neutral-steel-200,
      // Error
      'error-surface': token.$color-functional-error-dark,
      'error-accent': token.$color-functional-error-dark-soft,
      // Neutral
      'black': token.$color-black,
      'white': token.$color-white,
    ),
  ),
);

/*
  Structure:
  Variants: primary, secondary, error,...
  Role:     background, border, text, ...
  State:    default, hover, active, disabled
*/
$button-variants: (
  'primary': (
    'background': (
      'default': 'surface',
      'hover': 'accent',
      'active': 'black',
      'disabled': 'disabled-surface',
    ),
    'border': (
      'default': 'surface',
      'hover': 'accent',
      'active': 'black',
      'disabled': 'disabled-border',
      'focus': 'focus',
    ),
    'text': (
      'default': 'black',
      'hover': 'black',
      'active': 'white',
      'disabled': 'disabled-onsurface',
    ),
    'loading': (
      'default': 'black',
    ),
  ),
  'secondary': (
    'background': (
      'default': 'white',
      'hover': 'white',
      'active': 'white',
      'disabled': 'white',
    ),
    'border': (
      'default': 'black',
      'hover': 'secondary-hover-onsurface',
      'active': 'black',
      'disabled': 'secondary-disabled-border',
      'focus': 'focus',
    ),
    'text': (
      'default': 'black',
      'hover': 'secondary-hover-onsurface',
      'active': 'black',
      'disabled': 'secondary-disabled-onsurface',
    ),
    'loading': (
      'default': 'black',
    ),
  ),
  'error': (
    'background': (
      'default': 'error-surface',
      'hover': 'error-accent',
      'active': 'black',
      'disabled': 'disabled-surface',
    ),
    'border': (
      'default': 'error-surface',
      'hover': 'error-accent',
      'active': 'black',
      'disabled': 'disabled-border',
      'focus': 'focus',
    ),
    'text': (
      'default': 'white',
      'hover': 'white',
      'active': 'white',
      'disabled': 'disabled-onsurface',
    ),
    'loading': (
      'default': 'white',
    ),
  ),
);
