@use '/src/styles/reset';
@use '/src/styles/mixins.scss' as mixins;
@use '/src/styles/mixins-flex.scss' as flex;

:host {
  display: inline-block;
}

:host([disabled]) button {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

button {
  @include mixins.font-bold-smaller;
  text-transform: uppercase;

  @include flex.flex-center;
  height: 48px;
  padding-left: 36px;
  padding-right: 36px;
  border: 1px solid transparent;
  border-radius: 0;
  background-color: #ffd000;
  // background-color: blue;
  color: black;
  cursor: pointer;
}

button:hover {
  background-color: #eb6f24;
}
