@use 'sass:map';
@use '/src/styles/reset-styles';
@use '/src/styles/theming';
@use '/src/styles/base-mixins' as base;
@use '/src/styles/flex-mixins' as flex;
@use 'pl-button.theme' as theme;

// --- 1. THEMEN-PALETTE GENERIEREN ---
// Dieser Block erzeugt alle notwendigen CSS Custom Properties im Shadow DOM der Komponente.
// Er reagiert nur auf Attribute, die direkt am Host-Element (<pl-button>) gesetzt sind.
:host {
  display: inline-block;

  // Lege ein Standard-Theme (Corporate Light) als Fallback fest.
  $theme-palette: map.get(theme.$button-themes, 'corporate', 'light');
  @each $variant-name, $variant-config in theme.$button-variants {
    @include theming.generate-component-variant-theme('button', $variant-name, $variant-config, $theme-palette);
  }

  // Überschreibe die Palette, wenn Attribute direkt am Host gesetzt sind.
  &[data-theme='corporate'][data-mode='dark'] {
    $theme-palette: map.get(theme.$button-themes, 'corporate', 'dark');
    @each $variant-name, $variant-config in theme.$button-variants {
      @include theming.generate-component-variant-theme('button', $variant-name, $variant-config, $theme-palette);
    }
  }
  &[data-theme='hau'][data-mode='light'] {
    $theme-palette: map.get(theme.$button-themes, 'hau', 'light');
    @each $variant-name, $variant-config in theme.$button-variants {
      @include theming.generate-component-variant-theme('button', $variant-name, $variant-config, $theme-palette);
    }
  }
  &[data-theme='hau'][data-mode='dark'] {
    $theme-palette: map.get(theme.$button-themes, 'hau', 'dark');
    @each $variant-name, $variant-config in theme.$button-variants {
      @include theming.generate-component-variant-theme('button', $variant-name, $variant-config, $theme-palette);
    }
  }
}

:host([disabled]) button {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

button {
  @include base.font-bold-smaller;
  text-transform: uppercase;

  @include flex.flex-center;
  height: 48px;
  padding-left: 36px;
  padding-right: 36px;
  border: 1px solid transparent;
  border-radius: 0;
  background-color: #ffd000;
  // background-color: blue;
  color: black;
  cursor: pointer;
}

button:hover {
  background-color: #eb6f24;
}
