@use '@styles/flex-mixins' as flex;

:host {
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
  color: black;
  width: 24px;
  height: 24px;
}

img {
  width: 100%;
  height: 100%;
  fill: currentColor; /* SaveGuard: Ensures SVGs inherit the text color. This is also defined in the SVG itself */
}

span {
  width: 100%;
  height: 100%;
}
