:host {
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
  color: black;
  width: 24px;
  height: 24px;
}

:host([decorative='false']) [part='wrapper'] {
  cursor: pointer;
  outline: none;
}

:host([decorative='false']) [part='wrapper']:focus-visible {
  border-radius: 0;
  outline: 2px solid black;
  outline-offset: 2px;
}

img {
  width: 100%;
  height: 100%;
  /* This is defined in the SVG itself. SaveGuard here to ensure SVGs inherit the text color. */
  fill: currentColor;
}

span {
  width: 100%;
  height: 100%;
}
