/*
 * File is defined as partial, which means it won't be compiled into CSS directly
 * It's intended to be used as a building block for the component styles.
 */

/* --- FONT FAMILIES --- */

/* Default font families */
$font-text-regular: LiebherrText-Regular, -apple-system, BlinkMacSystemFont, Arial, Helvetica, sans-serif;
$font-text-medium: LiebherrText-Medium, -apple-system, BlinkMacSystemFont, Arial, Helvetica, sans-serif;
$font-text-bold: LiebherrText-Bold, -apple-system, BlinkMacSystemFont, Arial, Helvetica, sans-serif;
$font-head-regular: LiebherrHead-Regular, -apple-system, BlinkMacSystemFont, Arial, Helvetica, sans-serif;
$font-head-black: LiebherrHead-Black, -apple-system, BlinkMacSystemFont, Arial, Helvetica, sans-serif;

/* Noto font families (for language overrides) */
$font-noto-text-regular: NotoSansSC-Regular, -apple-system, BlinkMacSystemFont, Arial, Helvetica, sans-serif;
$font-noto-text-medium: NotoSansSC-Medium, -apple-system, BlinkMacSystemFont, Arial, Helvetica, sans-serif;
$font-noto-text-bold: NotoSansSC-Bold, -apple-system, BlinkMacSystemFont, Arial, Helvetica, sans-serif;
$font-noto-head-regular: NotoSansSC-Light, -apple-system, BlinkMacSystemFont, Arial, Helvetica, sans-serif;
$font-noto-head-black: NotoSansSC-Black, -apple-system, BlinkMacSystemFont, Arial, Helvetica, sans-serif;

/* LangPicker font families */
$font-lh-langpick-asia-regular: LH-LangPick-Asia-Regular, -apple-system, BlinkMacSystemFont, sans-serif;
$font-lh-langpick-asia-bold: LH-LangPick-Asia-Bold, -apple-system, BlinkMacSystemFont, sans-serif;


/* --- FONT SIZES & LINE HEIGHTS --- */
$font-size-copy: 18px;
$line-height-copy: 28px;

$font-size-copy-small: 16px;
$line-height-copy-small: 24px;

$font-size-copy-smaller: 14px;
$line-height-copy-smaller: 20px;

$font-size-copy-extrasmall: 12px;
$line-height-copy-extrasmall: 16px;


/* --- MISC --- */
$letter-spacing: 0.78px;

/* --- COLORS --- */
$color-artic-blue: #003057;
$color-yellow: #ffd000;
$color-blue: #2779c4;
$color-black: #000000;
$color-white: #ffffff;
$color-steel-50: #f9fafb;
$color-steel-100: #f0f3f6;
$color-steel-200: #e5e8ed;
$color-steel-300: #d3d8dd;
$color-steel-400: #bdc4ca;
$color-steel-500: #9ea4ab;
$color-steel-600: #888e94;
$color-steel-700: #6b7278;
$color-steel-800: #51585d;
$color-steel-900: #353a40;
$color-steel-950: #282c30;
$color-steel-975: #202326;
$color-burgundy-dark: #6e143c;
$color-burgundy-light: #b81962;
$color-clay: #eb6f24;
$color-clay-light: #f89939;
$color-clay-light-300: #fde1c4;
$color-clay-dark: #b0542e;
$color-coolgreen-dark: #006b5e;
$color-leaf: #2ea675;
$color-leaf-light: #5dbf90;
$color-leaf-dark: #33825e;
$color-slate: #5789a4;
$color-slate-light: #8bb2c2;
$color-slate-dark: #3b6579;
$color-ruby: #e34858;
$color-ruby-light: #f56e7c;
$color-ruby-dark: #ad0b37;
$color-terra: #aa8d6d;
$color-terra-light: #d1b795;
$color-terra-dark: #846554;
$color-copper: #ea8b6f;
$color-copper-light: #f0c2af;
$color-copper-dark: #c77359;
$color-warning: #e52828;
$color-warning-light: #f56e7c;
$color-warning-light-300: #ffd5d5;
$color-success: #43a017;
$color-success-light: #73d95f;
$color-success-light-300: #d5f4cf;
$color-alert-dark: #ce342b;
$color-font-base: #000000;
