/*
 * File is defined as partial, which means it won't be compiled into CSS directly
 * It's intended to be used as a building block for the component styles.
 */

/* --- FONT FAMILIES --- */
$font-text-regular: LiebherrText-Regular, -apple-system, BlinkMacSystemFont, Arial, Helvetica, sans-serif;
$font-text-medium: LiebherrText-Medium, -apple-system, BlinkMacSystemFont, Arial, Helvetica, sans-serif;
$font-text-bold: LiebherrText-Bold, -apple-system, BlinkMacSystemFont, Arial, Helvetica, sans-serif;
$font-head-regular: LiebherrHead-Regular, -apple-system, BlinkMacSystemFont, Arial, Helvetica, sans-serif;
$font-head-black: LiebherrHead-Black, -apple-system, BlinkMacSystemFont, Arial, Helvetica, sans-serif;

$font-noto-text-regular: NotoSansSC-Regular, -apple-system, BlinkMacSystemFont, Arial, Helvetica, sans-serif;
$font-noto-text-medium: NotoSansSC-Medium, -apple-system, BlinkMacSystemFont, Arial, Helvetica, sans-serif;
$font-noto-text-bold: NotoSansSC-Bold, -apple-system, BlinkMacSystemFont, Arial, Helvetica, sans-serif;
$font-noto-head-regular: NotoSansSC-Light, -apple-system, BlinkMacSystemFont, Arial, Helvetica, sans-serif;
$font-noto-head-black: NotoSansSC-Black, -apple-system, BlinkMacSystemFont, Arial, Helvetica, sans-serif;

/* --- LANG PICKER FONT FAMILIES --- */
$font-lh-langpick-asia-regular: LH-LangPick-Asia-Regular, -apple-system, BlinkMacSystemFont, sans-serif;
$font-lh-langpick-asia-bold: LH-LangPick-Asia-Bold, -apple-system, BlinkMacSystemFont, sans-serif;

/* --- FONT SIZES & LINE HEIGHTS --- */
$font-size-copy: 18px;
$line-height-copy: 28px;

$font-size-copy-small: 16px;
$line-height-copy-small: 24px;

$font-size-copy-smaller: 14px;
$line-height-copy-smaller: 20px;

$font-size-copy-extrasmall: 12px;
$line-height-copy-extrasmall: 16px;


/* --- MISC --- */
$letter-spacing: 0.78px;

/* --- COLORS --- */
$color-artic-blue: #003057;
$color-blue: #2779c4;
$color-black: #000000;
$color-yellow: #ffd000;
$color-white: #ffffff;

$color-co-light-yellow: #ffd000;
$color-co-light-background: #ffffff;

$color-co-dark-yellow: #ffd000;
$color-co-dark-background: #202326;

$color-ha-light-blue: #2779c4;
$color-ha-light-background: #ffffff;
$color-ha-light-artic-blue: #003057;

$color-ha-dark-blue: #2779c4;
$color-ha-dark-artic-blue: #164870;
$color-ha-dark-background: #202326;

$color-neutral-steel-50: #f9fafb;
$color-neutral-steel-100: #f0f3f6;
$color-neutral-steel-200: #e5e8ed;
$color-neutral-steel-300: #d3d8dd;
$color-neutral-steel-400: #bdc4ca;
$color-neutral-steel-500: #9ea4ab;
$color-neutral-steel-600: #888e94;
$color-neutral-steel-700: #6b7278;
$color-neutral-steel-800: #51585d;
$color-neutral-steel-900: #353a40;
$color-neutral-steel-950: #282c30;
$color-neutral-steel-975: #202326;

// Rule: light-soft equals dark default color.
$color-accent-terra-light: #846554;
$color-accent-terra-light-soft: #aa8d6d;
$color-accent-terra-dark: #aa8d6d;
$color-accent-terra-dark-soft: #d1b795;

$color-accent-clay-light: #b0542e;
$color-accent-clay-light-soft: #eb6f24;
$color-accent-clay-dark: #f89939;
$color-accent-clay-dark-soft: #ffc385;

$color-accent-ruby-light: #ad0b37;
$color-accent-ruby-light-soft: #e34858;
$color-accent-ruby-dark: #e34858;
$color-accent-ruby-dark-soft: #f56e7c;

$color-accent-leaf-light: #33825e;
$color-accent-leaf-light-soft: #2ea675;
$color-accent-leaf-dark: #2ea675;
$color-accent-leaf-dark-soft: #5dbf90;

$color-accent-slate-light: #3b6579;
$color-accent-slate-light-soft: #5789a4;
$color-accent-slate-dark: #5789a4;
$color-accent-slate-dark-soft: #8bb2c2;

$color-accent-coolgreen-light: #006b5e;
$color-accent-coolgreen-light-soft: #008379;
$color-accent-coolgreen-dark: #008379;
$color-accent-coolgreen-dark-soft: #99d0bc;

$color-accent-burgundy-light: #7b1947;
$color-accent-burgundy-light-soft: #b81962;
$color-accent-burgundy-dark: #cf1c6e;
$color-accent-burgundy-dark-soft: #e0639c;

$color-accent-copper-light: #ab634c;
$color-accent-copper-light-soft: #d47e64;
$color-accent-copper-dark: #ea8b6f;
$color-accent-copper-dark-soft: #f0c2a4;

$color-functional-error-light: #e52828;
$color-functional-error-light-soft: #f06969;
$color-functional-error-dark: #ff7070;
$color-functional-error-dark-soft: #ffa3a3;

$color-functional-success-light: #398713;
$color-functional-success-light-soft: #58a649;
$color-functional-success-dark: #73d95f;
$color-functional-success-dark-soft: #acf49f;

$color-functional-warning-light: #b0542e;
$color-functional-warning-light-soft: #e3a735;
$color-functional-warning-dark: #f89939;
$color-functional-warning-dark-soft: #ffc385;
