@font-face {
  font-family: LiebherrHead-Black;
  font-weight: normal;
  font-display: swap;
  src: url('https://assets-cdn.liebherr.com/assets/api/3c3d21f7-2747-4a07-bb1b-f9f4598c21df/original/LiebherrHead-Black_Web.woff2')
    format('woff2');
}
@font-face {
  font-family: LiebherrHead-Regular;
  font-weight: normal;
  font-display: swap;
  src: url('https://assets-cdn.liebherr.com/assets/api/bfb44747-d200-4af8-a756-fab6de288b32/original/LiebherrHead-Regular_Web.woff2')
    format('woff2');
}

@font-face {
  font-family: LiebherrText-Regular;
  font-weight: normal;
  font-display: swap;
  src: url('https://assets-cdn.liebherr.com/assets/api/cbef770b-7eef-4164-8dc7-a304a545b01f/original/LiebherrText-Regular_Web.woff2')
    format('woff2');
}
@font-face {
  font-family: LiebherrText-Medium;
  font-weight: normal;
  font-display: swap;
  src: url('https://assets-cdn.liebherr.com/assets/api/d726fec5-dd05-4133-a47c-77d7900263f6/original/LiebherrText-Medium_Web.woff2')
    format('woff2');
}
@font-face {
  font-family: LiebherrText-Bold;
  font-weight: normal;
  font-display: swap;
  src: url('https://assets-cdn.liebherr.com/assets/api/53da5b14-5565-4436-8d08-3bf3cf0262ae/original/LiebherrText-Bold_Web.woff2')
    format('woff2');
}
