<div class="page-container">
  <!-- Page meta header - breadcrumb -->
  <div class="page-metahead">
    <patternlib-breadcrumb-v1 aria-label="Breadcrumb">
      <patternlib-breadcrumb-item-v1 routerLink="/home">
        <patternlib-link type="prominent" [hideIcon]="true" label="Home"></patternlib-link>
      </patternlib-breadcrumb-item-v1>
      <patternlib-breadcrumb-item-v1>PL 4 Integration</patternlib-breadcrumb-item-v1>
    </patternlib-breadcrumb-v1>
  </div>

  <!-- Page content -->
  <div class="page-content">
    <!-- Page head -->
    <div class="page-head">
      <patternlib-headline headingTag="h1" separator="bottom" [headline]="'PL 4 Integration'" />
      <div class="lh-mt-32px"></div>
    </div>

    <!-- Page body -->
    <div class="page-body">
      <h2 class="lh-mt-16px">Button from Patternlib 3</h2>
      <patternlib-button (click)="onButtonV3Clicked()">Patternlib 3</patternlib-button>

      <h2 class="lh-mt-16px">Button from Patternlib 4</h2>
      <pl-button-angular (plButtonClick)="onButtonV4Clicked()" label="Patternlib 4"></pl-button-angular>

      <h2 class="lh-mt-16px">Icon from Patternlib 4</h2>
      <div style="display: flex; gap: 8px">
        <pl-icon-angular alt="PL 4 globe icon" iconName="globe" interactive></pl-icon-angular>
        <pl-icon-angular alt="PL 4 search icon" class="pl-icon-search" iconName="search" interactive></pl-icon-angular>
      </div>

      <h2 class="lh-mt-16px">Item list from Patternlib 4</h2>
      <pl-itemlist-angular [headlineLabel]="'Meine Liste'" [data]="exampleData"></pl-itemlist-angular>
    </div>
  </div>
</div>
