/*
 * File is defined as partial, which means it won't be compiled into CSS directly
 * It's intended to be used as a building block for the component styles.
 */
@use '@src/styles/tokens' as tokens;

$font-familiy-rtl: 'Arial', sans-serif;

/* Regular fonts LTR/RTL */
@mixin font-text-bidi {
  font-family: #{tokens.$font-text-regular};
  font-size: #{tokens.$font-size-copy}; /* 18px */
  line-height: #{tokens.$line-height-copy}; /* 28px */
  &:dir(rtl) {
    font-family: $font-familiy-rtl;
  }
}
@mixin font-text-small-bidi {
  font-family: #{tokens.$font-text-regular};
  font-size: #{tokens.$font-size-copy-small}; /* 16px */
  line-height: #{tokens.$line-height-copy-small}; /* 24px */
  &:dir(rtl) {
    font-family: $font-familiy-rtl;
  }
}
@mixin font-text-smaller-bidi {
  font-family: #{tokens.$font-text-regular};
  font-size: #{tokens.$font-size-copy-smaller}; /* 14px */
  line-height: #{tokens.$line-height-copy-smaller}; /* 20px */
  &:dir(rtl) {
    font-family: $font-familiy-rtl;
  }
}
@mixin font-text-extrasmall-bidi {
  font-family: #{tokens.$font-text-regular};
  font-size: #{tokens.$font-size-copy-extrasmall}; /* 12px */
  line-height: #{tokens.$line-height-copy-extrasmall}; /* 16px */
  &:dir(rtl) {
    font-family: $font-familiy-rtl;
  }
}
/* Bold fonts LTR/RTL */
@mixin font-bold-bidi {
  font-family: #{tokens.$font-text-bold};
  font-size: #{tokens.$font-size-copy}; /* 18px */
  line-height: #{tokens.$line-height-copy}; /* 28px */
  &:dir(rtl) {
    font-family: $font-familiy-rtl;
  }
}
@mixin font-bold-small-bidi {
  font-family: #{tokens.$font-text-bold};
  font-size: #{tokens.$font-size-copy-small}; /* 16px */
  line-height: #{tokens.$line-height-copy-small}; /* 24px */
  &:dir(rtl) {
    font-family: $font-familiy-rtl;
  }
}
@mixin font-bold-smaller-bidi {
  font-family: #{tokens.$font-text-bold};
  font-size: #{tokens.$font-size-copy-smaller}; /* 14px */
  font-weight: bold; /* is not set by font-face! */
  line-height: #{tokens.$line-height-copy-smaller}; /* 20px */
  &:dir(rtl) {
    font-family: $font-familiy-rtl;
    font-size: 16px;
  }
}
@mixin font-bold-extrasmall-bidi {
  font-family: #{tokens.$font-text-bold};
  font-size: #{tokens.$font-size-copy-extrasmall}; /* 12px */
  line-height: #{tokens.$line-height-copy-extrasmall}; /* 16px */
  &:dir(rtl) {
    font-family: $font-familiy-rtl;
  }
}

/* Regular fonts LTR */
@mixin font-text {
  font-family: #{tokens.$font-text-regular};
  font-size: #{tokens.$font-size-copy}; /* 18px */
  line-height: #{tokens.$line-height-copy}; /* 28px */
}
@mixin font-text-small {
  font-family: #{tokens.$font-text-regular};
  font-size: #{tokens.$font-size-copy-small}; /* 16px */
  line-height: #{tokens.$line-height-copy-small}; /* 24px */
}
@mixin font-text-smaller {
  font-family: #{tokens.$font-text-regular};
  font-size: #{tokens.$font-size-copy-smaller}; /* 14px */
  line-height: #{tokens.$line-height-copy-smaller}; /* 20px */
}
@mixin font-text-extrasmall {
  font-family: #{tokens.$font-text-regular};
  font-size: #{tokens.$font-size-copy-extrasmall}; /* 12px */
  line-height: #{tokens.$line-height-copy-extrasmall}; /* 16px */
}
/* Bold fonts LTR */
@mixin font-bold {
  font-family: #{tokens.$font-text-bold};
  font-size: #{tokens.$font-size-copy}; /* 18px */
  line-height: #{tokens.$line-height-copy}; /* 28px */
}
@mixin font-bold-small {
  font-family: #{tokens.$font-text-bold};
  font-size: #{tokens.$font-size-copy-small}; /* 16px */
  line-height: #{tokens.$line-height-copy-small}; /* 24px */
}
@mixin font-bold-smaller {
  font-family: #{tokens.$font-text-bold};
  font-size: #{tokens.$font-size-copy-smaller}; /* 14px */
  // font-weight: bold; /* is not set by font-face! */
  line-height: #{tokens.$line-height-copy-smaller}; /* 20px */
}
@mixin font-bold-extrasmall {
  font-family: #{tokens.$font-text-bold};
  font-size: #{tokens.$font-size-copy-extrasmall}; /* 12px */
  line-height: #{tokens.$line-height-copy-extrasmall}; /* 16px */
}

/* Reset all browser default styles */
@mixin reset {
  all: unset;
  margin: 0;
  padding: 0;
  min-width: 0;
  box-sizing: border-box;
  font-size: 100%;
  font-family: inherit;
  line-height: 1.5;
  color: inherit;
  list-style: none;
  quotes: none;
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 0;
  text-decoration: none;
  background-color: transparent;
  vertical-align: baseline;
}
