/*
 * File is defined as partial, which means it won't be compiled into CSS directly
 * It's intended to be used as a building block for the component styles.
 */

@mixin row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin inline-center {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@mixin column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
