@use 'tokens' as tokens; /* use relative path here */

:root {
  /* --- FONT FAMILIES --- */
  --ppl-font-text-regular: #{tokens.$font-text-regular};
  --ppl-font-text-medium: #{tokens.$font-text-medium};
  --ppl-font-text-bold: #{tokens.$font-text-bold};
  --ppl-font-head-regular: #{tokens.$font-head-regular};
  --ppl-font-head-black: #{tokens.$font-head-black};

  --ppl-font-noto-text: #{tokens.$font-noto-text-regular};
  --ppl-font-noto-text-medium: #{tokens.$font-noto-text-medium};
  --ppl-font-noto-text-bold: #{tokens.$font-noto-text-bold};
  --ppl-font-noto-head-regular: #{tokens.$font-noto-head-regular};
  --ppl-font-noto-head-black: #{tokens.$font-noto-head-black};

  --ppl-font-lh-langpick-asia-regular: #{tokens.$font-lh-langpick-asia-regular};
  --ppl-font-lh-langpick-asia-bold: #{tokens.$font-lh-langpick-asia-bold};

  /* --- LANGUAGE SPECIFIC OVERRIDES --- */
  &[lang='zh'] {
    --ppl-font-text-regular: #{tokens.$font-noto-text-regular};
    --ppl-font-text-medium: #{tokens.$font-noto-text-medium};
    --ppl-font-text-bold: #{tokens.$font-noto-text-bold};
    --ppl-font-head-regular: #{tokens.$font-noto-head-regular};
    --ppl-font-head-black: #{tokens.$font-noto-head-black};
  }

  /* --- FONT SIZES & LINE HEIGHTS --- */
  --ppl-font-size-copy: #{tokens.$font-size-copy};
  --ppl-line-height-copy: #{tokens.$line-height-copy};

  --ppl-font-size-copy-small: #{tokens.$font-size-copy-small};
  --ppl-line-height-copy-small: #{tokens.$line-height-copy-small};

  --ppl-font-size-copy-smaller: #{tokens.$font-size-copy-smaller};
  --ppl-line-height-copy-smaller: #{tokens.$line-height-copy-smaller};

  --ppl-font-size-copy-extrasmall: #{tokens.$font-size-copy-extrasmall};
  --ppl-line-height-copy-extrasmall: #{tokens.$line-height-copy-extrasmall};

  /* --- MISC --- */
  --ppl-letter-spacing: #{tokens.$letter-spacing};

  /* --- COLORS --- */
  --ppl-color-artic-blue: #{tokens.$color-artic-blue};
  --ppl-color-blue: #{tokens.$color-blue};
  --ppl-color-black: #{tokens.$color-black};
  --ppl-color-yellow: #{tokens.$color-yellow};
  --ppl-color-white: #{tokens.$color-white};

  --ppl-color-co-light-yellow: #{tokens.$color-co-light-yellow};
  --ppl-color-co-light-background: #{tokens.$color-co-light-background};

  --ppl-color-co-dark-yellow: #{tokens.$color-co-dark-yellow};
  --ppl-color-co-dark-background: #{tokens.$color-co-dark-background};

  --ppl-color-ha-light-blue: #{tokens.$color-ha-light-blue};
  --ppl-color-ha-light-background: #{tokens.$color-ha-light-background};
  --ppl-color-ha-light-artic-blue: #{tokens.$color-ha-light-artic-blue};

  --ppl-color-ha-dark-blue: #{tokens.$color-ha-dark-blue};
  --ppl-color-ha-dark-artic-blue: #{tokens.$color-ha-dark-artic-blue};
  --ppl-color-ha-dark-background: #{tokens.$color-ha-dark-background};

  --ppl-color-neutral-steel-50: #{tokens.$color-neutral-steel-50};
  --ppl-color-neutral-steel-100: #{tokens.$color-neutral-steel-100};
  --ppl-color-neutral-steel-200: #{tokens.$color-neutral-steel-200};
  --ppl-color-neutral-steel-300: #{tokens.$color-neutral-steel-300};
  --ppl-color-neutral-steel-400: #{tokens.$color-neutral-steel-400};
  --ppl-color-neutral-steel-500: #{tokens.$color-neutral-steel-500};
  --ppl-color-neutral-steel-600: #{tokens.$color-neutral-steel-600};
  --ppl-color-neutral-steel-700: #{tokens.$color-neutral-steel-700};
  --ppl-color-neutral-steel-800: #{tokens.$color-neutral-steel-800};
  --ppl-color-neutral-steel-900: #{tokens.$color-neutral-steel-900};
  --ppl-color-neutral-steel-950: #{tokens.$color-neutral-steel-950};
  --ppl-color-neutral-steel-975: #{tokens.$color-neutral-steel-975};

  --ppl-color-accent-terra-light: #{tokens.$color-accent-terra-light};
  --ppl-color-accent-terra-light-soft: #{tokens.$color-accent-terra-light-soft};
  --ppl-color-accent-terra-dark: #{tokens.$color-accent-terra-dark};
  --ppl-color-accent-terra-dark-soft: #{tokens.$color-accent-terra-dark-soft};

  --ppl-color-accent-clay-light: #{tokens.$color-accent-clay-light};
  --ppl-color-accent-clay-light-soft: #{tokens.$color-accent-clay-light-soft};
  --ppl-color-accent-clay-dark: #{tokens.$color-accent-clay-dark};
  --ppl-color-accent-clay-dark-soft: #{tokens.$color-accent-clay-dark-soft};

  --ppl-color-accent-ruby-light: #{tokens.$color-accent-ruby-light};
  --ppl-color-accent-ruby-light-soft: #{tokens.$color-accent-ruby-light-soft};
  --ppl-color-accent-ruby-dark: #{tokens.$color-accent-ruby-dark};
  --ppl-color-accent-ruby-dark-soft: #{tokens.$color-accent-ruby-dark-soft};

  --ppl-color-accent-leaf-light: #{tokens.$color-accent-leaf-light};
  --ppl-color-accent-leaf-light-soft: #{tokens.$color-accent-leaf-light-soft};
  --ppl-color-accent-leaf-dark: #{tokens.$color-accent-leaf-dark};
  --ppl-color-accent-leaf-dark-soft: #{tokens.$color-accent-leaf-dark-soft};

  --ppl-color-accent-slate-light: #{tokens.$color-accent-slate-light};
  --ppl-color-accent-slate-light-soft: #{tokens.$color-accent-slate-light-soft};
  --ppl-color-accent-slate-dark: #{tokens.$color-accent-slate-dark};
  --ppl-color-accent-slate-dark-soft: #{tokens.$color-accent-slate-dark-soft};

  --ppl-color-accent-coolgreen-light: #{tokens.$color-accent-coolgreen-light};
  --ppl-color-accent-coolgreen-light-soft: #{tokens.$color-accent-coolgreen-light-soft};
  --ppl-color-accent-coolgreen-dark: #{tokens.$color-accent-coolgreen-dark};
  --ppl-color-accent-coolgreen-dark-soft: #{tokens.$color-accent-coolgreen-dark-soft};

  --ppl-color-accent-burgundy-light: #{tokens.$color-accent-burgundy-light};
  --ppl-color-accent-burgundy-light-soft: #{tokens.$color-accent-burgundy-light-soft};
  --ppl-color-accent-burgundy-dark: #{tokens.$color-accent-burgundy-dark};
  --ppl-color-accent-burgundy-dark-soft: #{tokens.$color-accent-burgundy-dark-soft};

  --ppl-color-accent-copper-light: #{tokens.$color-accent-copper-light};
  --ppl-color-accent-copper-light-soft: #{tokens.$color-accent-copper-light-soft};
  --ppl-color-accent-copper-dark: #{tokens.$color-accent-copper-dark};
  --ppl-color-accent-copper-dark-soft: #{tokens.$color-accent-copper-dark-soft};

  --ppl-color-functional-error-light: #{tokens.$color-functional-error-light};
  --ppl-color-functional-error-light-soft: #{tokens.$color-functional-error-light-soft};
  --ppl-color-functional-error-dark: #{tokens.$color-functional-error-dark};
  --ppl-color-functional-error-dark-soft: #{tokens.$color-functional-error-dark-soft};

  --ppl-color-functional-success-light: #{tokens.$color-functional-success-light};
  --ppl-color-functional-success-light-soft: #{tokens.$color-functional-success-light-soft};
  --ppl-color-functional-success-dark: #{tokens.$color-functional-success-dark};
  --ppl-color-functional-success-dark-soft: #{tokens.$color-functional-success-dark-soft};

  --ppl-color-functional-warning-light: #{tokens.$color-functional-warning-light};
  --ppl-color-functional-warning-light-soft: #{tokens.$color-functional-warning-light-soft};
  --ppl-color-functional-warning-dark: #{tokens.$color-functional-warning-dark};
  --ppl-color-functional-warning-dark-soft: #{tokens.$color-functional-warning-dark-soft};
}
